#board{
    height: 150px;
}
#top-row{
    margin-top: 20%
}
#button-row{
    margin-bottom: 25px;
}
#input{
    display: inline;
    width: 150px;
}
.card{
    display: inline-block;
    width: 23%;
    height: 150px;
    margin: 1%;
}
.front, .back{
    border-radius: 25px;
    font-size: 50px;
    box-shadow: 10px 10px 5px grey;
    line-height:147px;
    text-align: center;
}


head, body{
    min-height: 100%
}

body{
    background: #30E8BF;
    background: linear-gradient(to left, #30E8BF , #FF8235);
}